:root{
     --sick-green: #d9fc44;
}
@font-face {
      font-family: 'InterBold';
      src: url("./assets/fonts/static/Inter-Bold.ttf") format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: normal;
}
@font-face {
      font-family: 'InterSemiBold';
      src: url("./assets/fonts/static/Inter-SemiBold.ttf") format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: normal;
}
@font-face {
      font-family: 'InterVar';
      src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: normal;
}


.InterBold{
      font-family: 'InterBold';
}
.InterSemi{
      font-family: "InterSemiBold";
}
.Inter{
      font-family: 'InterVar';
}
.sick-green{
      color: var(--sick-green);
}

a, a:visited{
      background-color: #333333;
      color: white;
      text-decoration: none;
      transition: all 0.5s ease;
      font-family: 'InterBold';
      font-size: 0.8rem;
}
a:hover{
      background-color: var(--sick-green);
      color: black;
}
p{
      font-size: 0.8rem;
}

@media (max-width: 300px){
      .card{
            width: 95%;
      }
}